body {
  margin: 0;
  height: 100%;
  font-family: 'Courier New', monospace;
}

.frame {
  height: 100%;
  background-color: rgb(175, 169, 169);
}

.board {
  position: absolute;
  display: block;
  width: 1250px;
  height:700px;
  justify-items: safe center;
  margin: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right,  rgb(49, 49, 49)  , rgba(54, 156, 148, 0.8) 3% 97%, rgb(49, 49, 49));
  border-radius: 5px;
  box-shadow: 0px 2px 7px #000, -1px -1px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(255,255,255,0.1);
  
}

.name {
  position: relative;
  width: 100px;
  height: 30px;
  margin-left: 50px;
  color: #000000;
  line-height: 80px;
  font-size: 55px;
  text-shadow: 0 0 6px rgb(187, 187, 187);
}


/* Upper block */

.UpperPart{
  width: 1100px;
  height: 250px;
  position: relative;
  margin-top: 40px;
  margin-left: 70px;
  background-color: cadetblue;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

#pads_label {
  position: absolute;
  width:150px;
  left:20px;
  top: 10px;
  font-family: 'Courier New', monospace;
  border: 2px black;
  border-right: 2px;  
}

.knobs_label {
  position: absolute;
  width:100px;
  right: 300px;
  top: 10px;
  font-family: 'Courier New', monospace;
  border: 2px black;
  border-right: 2px;  
}

#other {
  right:100px
}

.pads {
  position: relative;
  width: 625px;
  margin-top: 0px;
  margin-left: 15px;
  float: left;
  top: 40px;
}

.pad {
  width: 70px;
  height: 70px;
  background-color: #bbbbbb;
  border-radius: 9px;
  margin-left: -2px;
  background-image: linear-gradient(to right, rgb(201, 201, 201) 90%, grey);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  background:conic-gradient(#d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6,
                #d7d7d7, #c3c3c3, #cccccc, #c6c6c6);  
  }

.store_buttons{
  height: auto;
  width: 75px;
  position: relative;
  display: inline-block;
  background-color: cyan;
  border: 3px solid black;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
  left: 240px;
  transform: translate(-50%);
}


.knobs {
  position: relative;
  left:5px;
  top: 25px;
  height:300px;
  float: right;
  width: 100%; 
  max-width: 450px;
}

.knob {
  display:flex;
  width: 60px;
  height: 60px;
  bottom:2px;
  background-color: #444;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 50px;
  float:left;
  padding:2px;
  margin-bottom: 10px;
  margin-left: 40px;
}

/*
#slider4trial {
  position: relative;
  top: 5px;
  left: 150px;
  width: 250px;
  display: block;
  background: #565656;
  height: 7px;
  background-color: rgb(241, 231, 231);
  box-shadow: inset 0 0 4px rgba(11, 0, 163, 0.7),
    inset 0 0 2px rgba(0, 0, 0,0.5);
}

.powerKnob{
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  transform: translate(50%);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 9999;
  background: radial-gradient(rgb(65, 60, 60), black);
  border: 2px white;
}
*/ 

/* Middle block */

.MiddlePart{
  position: absolute;
  top: 300px;
  width: 1100px;
  height: 85px;
  margin-top: 50px;
  margin-left: 70px;
  background-color: cadetblue;
  display: block;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Toggle switch */

#toggle-btn {
  width:86px;
  height: 48px;
  background-color: #0a0897;
  background-size: 100%;
  border-radius: 24px;
  border-right: 2px;
  position: relative;
  top:60%;
  left: 45px;
  transform: translateY(-50%);
  transition: all ease-in-out .4s; /* animati tutti gli elementi (all), accelerazione ease-in-out, durata 0.4 secondi */
  cursor: pointer;
}

#toggle-btn::before {
  position: absolute;
  width:36px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  left:6px;
  top:6px;
  content: '';
  transition: all ease-in-out .4s;
  z-index: 10;
}

#toggle-btn.toggle-btn--dark {
  background-color: #000307;
}

#toggle-btn.toggle-btn--dark::before {
  left: 44px;
}

#toggle-btn_sc {
  width:86px;
  height: 48px;
  background-color: #0a0897;
  background-size: 100%;
  border-radius: 24px;
  border-right: 2px;
  position: absolute;
  top:60%;
  left: 280px;
  transform: translateY(-50%);
  transition: all ease-in-out .4s; /* animati tutti gli elementi (all), accelerazione ease-in-out, durata 0.4 secondi */
  cursor: pointer;
}

#toggle-btn_sc::before {
  position: absolute;
  width:36px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  left:6px;
  top:6px;
  content: '';
  transition: all ease-in-out .4s;
  z-index: 10;
}

#toggle-btn_sc.toggle-btn_sc--dark {
  background-color: #000307;
}

#toggle-btn_sc.toggle-btn_sc--dark::before {
  left: 44px;
}

#toggle_label {
  position: absolute;
  width:200px;
  left:20px;
  top: 2px;
  font-family: 'Courier New', monospace;
  border: 2px black;
  border-right: 2px;  
}

#toggle_simple_complex {
  position: absolute;
  width:200px;
  left:250px;
  top: 2px;
  font-family: 'Courier New', monospace;
  border: 2px black;
  border-right: 2px;  
}


/* Help dropdown menu */

.help-tip{
  position: absolute;
  top: 25px;
  right: 20px;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 400px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 18px;
  line-height: 1.4;
  z-index: 10;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}

/* Help dropdown menu */

.help-tip{
  position: absolute;
  top: 25px;
  right: 20px;
  text-align: center;
  background-color: #BCDBEA;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 14px;
  line-height: 26px;
  cursor: default;
}

.help-tip:before{
  content:'?';
  font-weight: bold;
  color:#fff;
}

.help-tip:hover p{
  display:block;
  transform-origin: 100% 0%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{    /* The tooltip */
  display: none;
  text-align: left;
  background-color: #1E2021;
  padding: 20px;
  width: 400px;
  position: absolute;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  right: -4px;
  color: #FFF;
  font-size: 18px;
  line-height: 1.4;
  z-index: 10;
}

.help-tip p:before{ /* The pointer of the tooltip */
  position: absolute;
  content: '';
  width:0;
  height: 0;
  border:6px solid transparent;
  border-bottom-color:#1E2021;
  right:10px;
  top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
  width:100%;
  height:40px;
  content:'';
  position: absolute;
  top:-40px;
  left:0;
}


/* Lower block */

.LowerPart{
  width: 1100px;
  height: 250px;
  position: absolute;
  margin-top: 25px;
  margin-left: 70px;
  background-color: codetblue;
  display: block;
  top: 400px;
}

.parameter1{
  position: relative;
  width:1px;
  height:1px;
  transform: translate(50%);
  left: 13px;
  font-style: italic;
  text-align: center;
}

/* display */

.displayblock {
  position: relative;
  width: 200px;
  height: 198px;
  background: cadetblue;
  float: left;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.display {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 170px;
  height: 80px;
  background-color: black;
  margin-top: 5px;
  border-radius: 10px;
  border: double grey;
  text-align: center;
  color: #ff3044;
  line-height: 80px;
  font-size: 45px;
  text-shadow: 0 0 6px rgb(255, 48, 68);
  user-select: none;
}

.displaybuttons {
  position: relative;
  width: 35px;
  height: 25px;
  margin-top: 35px;
  margin-left: 42px;
  float: left;
  background-color: rgb(49, 124, 153);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 90px;
  user-select: none;
  border: 2px solid black;
  border-radius: 2px;
  box-shadow:inset 0 -0.6em 0 -0.45em rgba(0,0,0,0.17);
}

.material-icons {
  transform: scale(2);
}

/* keyboard */

.keyboard {
  display: flex;
  position: relative;
  width: 810px;
  height: 187px;
  margin-left: 230px;
  margin-top: 30px;
  background-color: black;
  border: 7px solid black;
  border-radius: 10px;
}

.selected{
  background-color: black;
  border-color: black;
  background-image: linear-gradient(to right, rgb(201, 201, 201) 90%, grey);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 4px 4px 0 rgba(0,0,0,0.19);
  background:conic-gradient(#c02222, #b82828, red, red,
                red, red, red, red,
                black,black, #2c2a2a, #1b1a1a,
                #302c2c, black ,black, black);  
}

.labels{
  position: relative;
  float:left;
  user-select: none;
  left: 36px;
}

#DW{
  position: relative;
  width:80px;
}
#AR{
  position: relative;
  width:130px;
  right: 20px;
}
#O1{
  position: relative;
  width:80px;
}
#O2{
  position: relative;
  width:80px;
  left: 65px;
}

.WK {
  width: 60px;
  height: 190px;
  border: 2px solid black;
  border-radius: 7px;
  margin-left: -2px;
  outline: none;
  cursor: pointer;
  background-image: linear-gradient(to bottom, grey , white 10%);
}

.BK {
  position: absolute;
  width: 40px;
  height: 110px;
  background-color: black;
  border: 2px solid black;
  border-radius: 2px;
  outline: none;
  cursor: pointer; 
  background-image: linear-gradient(to right, black 91%, grey);
  box-shadow: 10px 0 5px -2px #888;
}

.C\#4 {
  left: 38px;
}

.D\#4 {
  left: 96px;
}

.F\#4 {
  left: 211px;
}

.G\#4 {
  left: 269px;
}

.A\#4 {
  left: 327px;
}

.C\#5 {
  left: 443px;
}

.D\#5 {
  left: 501px;
}

.F\#5 {
  left: 617px;
}

.G\#5 {
  left: 675px;
}

.A\#5 {
  left: 733px;
}

.playing {
  background-image: linear-gradient(to bottom, grey ,rgba(54, 156, 148, 0.8) 40%);
}

#synthline {
  height: 25px;
  position: relative;
  top: 10px;
  left: 43%;
}

.synths_button {
  height: auto;
  width: 100px;
  position: relative;
  display: inline-block;
  background-color: cyan;
  border: 3px solid black;
  line-height: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;
}

.synth_selected {
  background-color: darkblue;
  color: white;
}



/* CSS animation */

@-webkit-keyframes fadeIn {
  0% { 
      opacity:0; 
      transform: scale(0.6);
  }

  100% {
      opacity:100%;
      transform: scale(1);
  }
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:100%; }
}